h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.container, .bContainer {
    width: 100%;
    display: flex;
}

.card {
    width: 100%;
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.bCard {
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(145, 240, 230);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

button {
    color: white;
    background-color: black;
    margin-bottom: 10px;
    padding: 15px 30px;
    text-align: center;
    border-radius : 14px;
}

button:active {
    color: black;
    background-color: white;
    box-shadow: 0 5px grey;
    transform: translateY(4px);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}